@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Noto+Sans:wght@500&display=swap');

html,
body {
    overflow-x: hidden;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    padding: 0;
    background-image: url(../images/Fundo.png);
    background-size:cover;
    background-position: center;
    height: 100vh;
    margin: 0, auto;
}

.header {
    background-color: #1d664b;
    padding: 0px;
}

/* .logo {
    width:33vw;
    height: 33vh;
} */

.background-image {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.3333rem;
    gap:  1.3333rem;
}

h1 {
    font-family: "Fauna", sans-serif;
    font-size: 2.15rem;
}

.round-buttons {
    display: flex;
    width: 15%;
    height: 40%;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.round-button {
    width: 100%;
    margin: 0 0px;
}

.round-button img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.text-section {
    margin-top: 52px;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: larger;
    width: 45%;
}

.colored-word {
    color: #ba5c3f;
}

.circle-logo {
    max-width: 50vw;
    max-height: 50vh;
}

.text-subscribe-button {
    max-height: 5.3125rem;
    max-width: 31.25vw;
    width: 100%;
    border-radius: 20px;
    background-color: #1d664b;
    color: #d1d1ff;
    border: none;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    margin-left: 15rem;
    font-size: 3.001464128843338rem;
    font-family: Noto Sans, sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    gap: 20px 30px;

    background-color: #333332;
    padding: .75rem;
    text-align: left;
    margin: 0 auto;
}

.footer-logo {
    width: 10%;
    height: 20%;
}

.email {
    justify-content: space-around;
    color: #ccc;
    flex-flow: column;
    font-size: 12px;
    line-height: .25rem;
}

h3 {
    color: white; 
    font-weight: 400;
    font-size: 1rem;
}

.rounded-input {
    background-color: #242329;
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: 8px;
    max-width: 350px;
    width: 100%;
    top: 69px;
    color: #ccc;
}

.rounded-input::placeholder {
    color: #ccc;
}

.subscribe-button {
    max-height: 3rem;
    max-width: 30%;
    width: 100%;
    border-radius: 15px;
    background-color: #d1d1ff;
    color: #d08b67;
    font-weight: 700;
    border: none;
    margin-left: 390px;
    padding: .5rem 2.5rem;
    position: relative;
    bottom: 2rem;
}

.footer-round-button img {
    max-width: 35px;
    max-height: 35px;
    margin: auto;
    display: block;
}

.redes-sociais {
    margin-top: 0px;
    color: #ccc;
    padding: 0px 0px;
    font-size: 12px;
}

.direitos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    border-top: #ccc 2px solid;
    font-size: 14px;
    color: #ccc;
}

@media (max-width: 390px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../images/Fundo-Mobile.png);
        background-size:cover;
        background-position: center;
        height: 100vh;
        margin: 0, auto;
        font-size: 14px;
    }

    header {
        max-width: 100%;
        margin: 0 auto; /* Ajuste as margens conforme necessário */
        order: 0;
    }

    .logo{
        width: 180px;
        height: 100px;
        margin-top: 4vh;
        order: 0;
    }

    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        order: 2;
    }
    /* Outras alterações de estilo */

    .text-subscribe-button {
        /*align-self: center;*/
        max-width: 60%;
        max-height:100%;
        background-color: #f5eadf;
        color: #d08b67;
        border: none;
        margin-top: 4vh;
        font-size:100%;
        cursor: pointer;
        order: 3;
      }
    
    .circle-logo {
        order: -1;
        position: relative;
        width: 160px;
        height: 160px;

    }

    .footer {
        order: 4;
    }
}

@media (max-width: 576px) {
    /* Adjustments for screens up to 576px (extra small devices) */
    .col-md-2,
    .col-md-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-logo {
        margin-top: 20px;
    }
}